h1, h2, h3, h4, p, li {
    color: rgb(67, 67, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 4rem;
    vertical-align: middle;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
}

#header-logo {
    margin-left: 1.5rem;
}

header ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 0.75rem;
}

header nav li {
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.sign-in {
    margin-right: 1.5rem;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
}
 .logo-text-grey {
    color: darkgrey;
 }

.body1 {
    display: flex;
    background-color: lightgrey;
}

.body1-img {
    height: 600px;
    width: 60%;
    margin: 1.8rem 1.5rem;
}

#body1-text-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}

#body1-text{
    width: 75%;
    font-size: 3rem;
    font-weight: bold;
}

#body1-latin {
    width: 75%;
    font-size: 2rem;
    font-weight: bold;
    margin: 2.5rem 0rem;
    
}

#body1-button {
    background-color: rgb(67, 67, 67);;
    border: 0;
    color: whitesmoke;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    width: 75%;
    margin-top: 2rem;
}

.body2 {
    display: flex;
}

.body2-left-side {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 1rem;
    border-right: 2px gainsboro solid;
    padding-bottom: 2rem;
}

#body2-left-img {
    width: 93%;
    margin: 2rem 1.5rem;
}

.body2-left-text {
    margin-left: 1.5rem;
}

.body2-left-text h2 {
    font-weight: bold;
} 

#body2-latin {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.body2-right-side {
    width: 40%;
    margin-top: 1.5rem;
    border-left: 2px gainsboro solid;
    padding-bottom: 2rem;
}

.body2-card {
    display: flex;
}

.body2-card h3{
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.body2-card-img {
    height: auto;
    width: 35%;
    margin: 1rem;
}

.body2-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    font-size: 1.25rem;
}

.Read-More {
    margin-top: 0.5rem;
    color: #007bff;
}

#body2-card-1 {
    border-bottom: 2px gainsboro solid;
}

#body2-card-2 {
    border-top: 2px gainsboro solid;
}

#body2-card-3 {
    background-color: lightgray;
}

.body3 {
    background-color: lightgray;
}

#body3-header {
    text-align: center;
    margin: auto;
    padding: 0.5rem;
}

#body3-header h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 4rem 2rem;
}

#body3-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5rem;
    padding-bottom: 4rem;
    justify-content: center;
}

.body3-card {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 22rem;
    margin: 2rem;
}

.body3-card h2 {
    font-weight: 700;
}

.body3-card-img {
    height: auto;
    width: auto;
    margin-bottom: 1.5rem;
}

.body3-card-text {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.body3-card-courses {
    font-size: 1.5rem;
}

.body3-card-text-courses {
    margin: 0.5rem 0;
}

.body4-header {
    text-align: center;
    padding: 2rem 0;
}

.body4-header h2 {
    font-weight: 600;
}

.body4-sections {
    display: flex;
}


.body4-left-section {
    width: 60%;
    margin: 0 2rem;
}

.body4-left-section-text h2 {
    font-weight: 600;
    margin: 1rem 0;
}

.body4-left-section-text p {
    font-size: 1.15rem;
    margin-bottom: 2rem;
}

.body4-vid{
    width: 100%;
}


.body4-card {
    display: flex;
}

.body4-card-img {
    width: 30%;
    margin: 1rem;
}

.body4-card-text {
    width: 45%;
    margin: auto;
    margin-left: 0;
}

.body4-card-text h3 {
    font-size: 1.75rem;
    font-weight: 700;
}

.body4-card-text p {
    font-size: 1.25rem;
}

#body4-card-1 {
    background-color: lightgray;
}

footer {
    display: flex;
    border-top: 2px solid gainsboro;
    justify-content: space-between;
}

footer p {
    display: inline-block;
    margin-top: 0.75rem;
    margin: 1.5rem;
}

@media only screen and (max-width: 480px) {

    header {
        justify-content: space-around;
        height: 4rem;
    }

    header nav {
        display: none;
    }

    #header-logo-text  {
        display: none;
    }

    .body1 {
        flex-direction: column;
    }

    #body1-text {
        margin-left: 1rem;
        font-size: 2rem;
    }

    #body1-latin {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .body1-img {
        margin: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: 45%;

    }

    #body1-button {
        margin: auto;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 480px) {
    .hidden {
        display: none;
    }
}